{% extends 'layout.html.jinja' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="text-center">
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bTxeAiBF61I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/PykxZ5kkrjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p class="h3">You can do exercise after finishing this lesson</p>
  <a href="{{ url_for('test.exercise_lesson2') }}" class=" btn btn-info" role="button">Exercise</a>
</div>
{% endblock %}