{% extends 'layout.html.jinja' %}
{% block head %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleFortest.css') }}">
{% endblock %}


{% block content %}
        
    <br>
      <div class="container justify text-center">
          <p class="h1"> จงพูดคำต่อไปนี้ </p>
          <p class="h3">{{word}}</p>
      </div>
      <br>
      <form action="{{url_for('test.exercise_lesson1')}}" method="POST">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}

{% block javascript %}
 <script src="{{ url_for('main.static', filename='js/speech.js') }}"></script>
{% endblock %}



   