{% extends 'layout.html.jinja' %}
{% block head %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleFortest.css') }}">
{% endblock %}


{% block content %}
        
<br>
    <div class="container">
        <p class="h1 text-left"> จงพูดคำที่ปรากฎขึ้น </p>  
    </div>
    

   
  
{% endblock %}



   