{% extends 'layout.html.jinja' %}
{% block head %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleFortest.css') }}">
{% endblock %}


{% block content %}
        
    <br>
      <div class="container justify text-center">
          <p class="h1"> จงพูดคำต่อไปนี้ </p>
            {% for word in words %}
              
            {% endfor %}
          
      </div>
      <br>
{% endblock %}

{% block javascript %}
 <script src="{{ url_for('main.static', filename='js/speech.js') }}"></script>
{% endblock %}



   