{% extends 'layout.html.jinja' %}

{% block title %} Pretest {% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Post-test</h1>       
        <h2> Speak these words </h2> 
    </div>
    {% for word in words %}

        <div class="text-center" id="words-{{ loop.index }}"> {{word| first}} </div>
        <div class="text-center">       
            
            <textarea disabled  style="resize: none;"  id="output-textarea-{{ loop.index }}" name="xxx" rows="1" cols="25"></textarea><br>
            <textarea disabled  style="resize: none;"  id="score-{{ loop.index }}" name="xxx" rows="1" cols="10"></textarea><br>
            <button class="btn btn-success" id="start-btn-{{ loop.index }}" type="button" name="start-btn-{{ loop.index }}" onclick= "disable()" >start</button><br>
            <p>
                <button id="startRecording">Start recording</button>
                <button id="stopRecording" disabled>Stop recording</button>
            </p>
        </div>

        <script>
            navigator
        .mediaDevices
        .getUserMedia({audio: true})
        .then(stream => {
            handlerFunction(stream)
        });

    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                // let blob = new Blob(audioChunks, {type: 'audio/wav'});
                let blob = new Blob(audioChunks, {type: 'audio/webm'});
                sendData(blob);
            }
        }
    }

    function sendData(data) {
        var form = new FormData();
        form.append('file', data, 'data.mp3');
        form.append('title', 'data.mp3');
        //Chrome inspector shows that the post data includes a file and a title.
        $.ajax({
            type: 'POST',
            // url: '/save-record',
            url: '/asr',
            data: form,
            cache: false,
            processData: false,
            contentType: false
        }).done(function (data) {
            console.log(data);
            alert(JSON.stringify(data))
        });
    }

    startRecording.onclick = e => {
        console.log('Recording are started..');
        startRecording.disabled = true;
        stopRecording.disabled = false;
        audioChunks = [];
        rec.start();
    };

    stopRecording.onclick = e => {
        console.log("Recording are stopped.");
        startRecording.disabled = false;
        stopRecording.disabled = true;
        rec.stop();
    };
        </script>
        
    {% endfor %}
    
    <input hidden type="text" name="score" id="score">
    <hr>
    <div class="text-center">
        <button class="btn btn-primary" type="submit" id="submit"  form="answer" name="score">Submit </button>
    </div>    
    {#<script type="text" src="{url_for('test.static', filename='js/scoring.js')}}"></script>#}

{% endblock %}


