{% extends 'layout.html.jinja' %}
{% block head %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleFortest.css') }}">
{% endblock %}


{% block content %}
   
  
    <div class="text-center">
        <h1>Exercise1</h1>       
        <h2> Speak these words </h2> 
    </div>

    

    
    {#    
    {% for word in words %}
        
        <div class="text-center">
            <p class="h1"> {{ word['word'] }} </p>  
        </div>
     
    {% endfor %}
   #}
{% endblock %}



   