{% extends "layout.html.jinja" %}
{% block title %} Coach {% endblock %}
{% block content %}
<br>
    <div class="text-center">
        {% if score['pre_s'] == -1  %}
        <p class="h1">Please do pretest first</p>
        </a><br><br>
        <img src="{{ url_for('main.static', filename='img/14085329833028.jpg') }}" class="img-fluid  border border-5"" width="500" height="500" alt="" >
        <br><br><a href="{{url_for('test.pretest')}}" class="btn btn-success">Pretest</a><br><br>
    </div>   
    {% else %}
   
    

    {% endif %}
{% endblock %}
