{% extends 'layout.html.jinja' %}
 
{% block title %}Course{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

    <div class="container text-center">
       
        <p class="h1">คอร์สเรียนทั้งหมดของ ENGFORTHAI</p>
        
        <div class="card-group">
            <div class="card text-dark bg-light mb-3 border border-5" style="width: 18rem;">
                <img src="{{ url_for('lesson.static', filename='img/lesson1.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lesson 1 การออกเสียง /ð/ - /θ/ - /tθ/</h5>
                <p class="card-text">บทเรียนนี้สอนเรื่องการออกเสียง/ð/ - /θ/ - /tθ</p>
                <a href="{{ url_for('lesson.lesson1') }}" class="btn btn-info">เรียนเลย</a>
                </div>
            </div>

            <div class="card text-dark bg-light mb-3  border border-5" style="width: 18rem;">
                <img src="{{ url_for('lesson.static', filename='img/lesson2.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lesson 2 การออกเสียง /ʒ/ - /ʃ/</h5>
                <p class="card-text">บทเรียนนี้สอนเรื่องการออกเสียง /ʒ/ - /ʃ/</p>
                <a href="{{ url_for('lesson.lesson2') }}" class="btn btn-info">เรียนเลย</a>
                </div>
            </div>

            <div class="card text-dark bg-light mb-3  border border-5" style="width: 18rem;">
                <img src="{{ url_for('lesson.static', filename='img/lesson3.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lesson 3 การออกเสียง /dʒ/ - /tʃ/ </h5>
                <p class="card-text">บทเรียนนี้สอนเรื่องการออกเสียง /dʒ/ - /tʃ/ </p>
                <a href="{{ url_for('lesson.lesson3') }}" class="btn btn-info">เรียนเลย</a>
                </div>
            </div>

            <div class="card text-dark bg-light mb-3  border border-5" style="width: 18rem;">
                <img src="{{ url_for('lesson.static', filename='img/lesson4.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lesson 4 การออกเสียง /z/  - /s/ </h5>
                <p class="card-text">บทเรียนนี้สอนเรื่องการออกเสียง /z/  - /s/ </p>
                <a href="{{ url_for('lesson.lesson4') }}" class="btn btn-info">เรียนเลย</a>
                </div>
            </div>

            <div class="card text-dark bg-light mb-3  border border-5" style="width: 18rem;">
                <img src="{{ url_for('lesson.static', filename='img/lesson5.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Lesson 5 การออกเสียง /b/ - /p/ </h5>
                <p class="card-text">บทเรียนนี้สอนเรื่องการออกเสียง /b/ - /p/ </p>
                <a href="{{ url_for('lesson.lesson5') }}" class="btn btn-info">เรียนเลย</a>
                </div>
            </div>

            
        

        </div>

    </div>

    

{% endblock %}