{% extends 'layout.html.jinja' %}
 
{% block title %}Profile{% endblock %}
 
{% block content %}
    <div class="justify container text-center">
        <p class="h1">Profile</p>
        <p class="h2">ชื่อ : {{ user.firstname + " " +  user.lastname }} </p>
        <p class="h2"> คะแนน pretest : {{ score.pre_s }} </p>
        <p class="h2"> คะแนน posttest : {{ score.post_s }} </p>
        <p class="h2"> คะแนนการออกเสียง /ð/ - /θ/ - /tθ/  : {{ score.s1_s }} </p>
        <p class="h2"> คะแนนการออกเสียง /ʒ/ - /ʃ/  : {{ score.s2_s }} </p>
        <p class="h2"> คะแนนการออกเสียง /dʒ/ - /tʃ/ : {{ score.s3_s }} </p>
        <p class="h2"> คะแนนการออกเสียง /z/  - /s/  : {{ score.s4_s }} </p>
        <p class="h2"> คะแนนการออกเสียง /b/ - /p/  : {{ score.s5_s }} </p>
    </div>
{% endblock %}
