{% extends 'layout.html.jinja' %}
{% block head %}


 

{% endblock %}
{% block content %}

<div class="text-center">
  <p class="h1">This is Lesson 5 page</p>  

  <button type="button" class="btn btn-primary">Exercise</button>

</div>


 {% endblock %}