{% extends 'layout.html.jinja' %}
{% block head %}


 

{% endblock %}
{% block content %}

<div class="text-center">
  <p class="h1">This is Lesson 2 page</p>  
  <p class="h3">Hello guys we're from india</p>

  <button type="button" class="btn btn-primary">Exercise</button>

</div>


 {% endblock %}