{% extends "layout.html.jinja" %}

{% block content %}

{% if session['loggedin'] %}
    {% if score['pre_s'] != -1 %}
        <div class="container-fluid">
        </div>
    {% else %}

        <div class="justify-content-start text-center">
                <h5 class="text-primary text-uppercase mb-3 animated slideInDown"></h5>                    
                <h1 class="display-3 animated slideInDown">Let's do Pre-test to test your skills!</h1>
                <br><br><br><br><br><br><br><br><br>
                <a href="{{ url_for('test.pretest') }}" class="btn btn-primary py-md-3 px-md-5 me-3">Pre-test</a>
        </div>                                   
    {% endif %}
    
{% else %}
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{ url_for('main.static', filename='img/messageImage_1616184825417.jpg') }}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown"></h5>
                                <h1 class="display-3 text-white animated slideInDown">Best English pronunciation practice platform</h1>
                                <p class="fs-5 text-white mb-4 pb-2">This platform provides an AI to guide you to speak like a native speaker just like you have your own tutors!</p>
                                <a href="{{ url_for('main.info') }}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="{{ url_for('auth.register') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                 
        </div>
    </div>



    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-brands fa-teamspeak text-primary mb-4"></i>
                            <h5 class="mb-3">Practicing English pronunciation skills</h5>
                            <p>Nowadays, speaking skills are one of the most important skills to learn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Online Classes</h5>
                            <p>You can learn anywhere and anytime you want.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-solid fa-robot text-primary mb-4"></i>
                            <h5 class="mb-3">AI as advicer</h5>
                            <p>This platform provides an AI to guide you to speak like a native speaker just like you have your own tutors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Tons of words to practice</h5>
                            <p>There are countless words in this platform, we have compiled them for practice 
                                to be able to bring it to life correctly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute" src="{{ url_for('main.static', filename='img/eng.png') }}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About this project</h6>
                    <h1 class="mb-4">Welcome to ENGFORTHAI</h1>
                    <p class="mb-4">This project aims to build an algorithm with ASR for a web application to practice English pronunciation, as self-learning material.</p>
                    
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Natural Language Processing</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>End-to-End Speech recognition</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Intelligent tutoring system</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Education Learning</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="{{ url_for('main.info') }}">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Our team</h6>
                <h1 class="mb-5"></h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="">
                            <img  src="{{ url_for('main.static', filename='img/kong.jpg') }}" height="300px" width="100%">
                        </div>

                        <div class="text-center p-4">
                            <h5 class="mb-0">Kongpop Boonma</h5>
                            <small>Student</small>
                            <br>
                            <small>Role : System developer</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="">
                            <img  src="{{ url_for('main.static', filename='img/tai.jpg') }}" height="300px" width="100%">
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Poomtai Soowannao</h5>
                            <small>Student</small>
                            <br>
                            <small>Role : English-researcher assitant</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="">
                            <img  src="{{ url_for('main.static', filename='img/ammie.png') }}" height="300px" width="100%">
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Tiraporn Jaroensak</h5>
                            <small>Professor</small>
                            <br>  
                            <small>Role : English-researcher</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="">
                            <img  src="{{ url_for('main.static', filename='img/saww.png') }}" height="300px" width="100%">
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Jirapond Muangprathub</h5>
                            <small>Professor</small>
                            <br>
                            <small>Role : System instructer</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    
{% endblock %}