<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/styleForIntro.css') }}">
    <title>Document</title>
</head>
<body>
    
</body>
</html>