{% extends 'layout.html' %}

{% block title %}result{% endblock %}

{% block content %}
    
        <div class="text-center">
            <p class="h3"> Your score : {{ score }}</p>

        {% if score <= 2 %} 
            <p class="h4"> Now you're on beginner level 
                We suggest you to learn this course
            </p>
            <a href="https://www.youtube.com/watch?v=8oJzRdqstkA" target="_blank">Learn English Pronunciation Course for Beginners</a>
            <br>
            After you learn this, let's do the post test! <br><br>
            <a class="btn btn-primary" href="{{ url_for('beginner') }}" role="button">Posttest</a>

        {% elif score > 2 and score <5 %}
            <p class="h4"> Now you're on intermidiate level 
                We suggest you to learn this course
            </p>
            <a href="https://www.youtube.com/watch?v=l2QMvJ51CXo" target="_blank">Learn English Pronunciation Course for Intermediate </a>
            <br>
            After you learn this, let's do the post test! <br><br>
            <a class="btn btn-primary" href="{{ url_for('intermediate') }}" role="button">Posttest</a>

        {% else %}
            <p class="h4"> Now you're on anvanced level 
                We suggest you to learn this course
            </p>
            <a href="https://www.youtube.com/watch?v=TjwZPtjtGJg" target="_blank">Learn English Pronunciation Course for Advanced </a>
            <br>
            After you learn this, let's do the post test! <br><br>
            <a class="btn btn-primary" href="{{ url_for('expert') }}" role="button">Posttest</a>
        {% endif %}
    
    </div>
    <script src=""></script>
{% endblock %}