{% extends 'layout.html.jinja' %}
 
{% block title %}Profile{% endblock %}
 
{% block content %}
<div class="text-center"></div>
    <h1>Profile Page</h1>
    <div class="h3">
        <p>Your account details are below:</p>
        <table >
            <tr>
                <td>Name:</td>
                <td>{{ session['fullname'] }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{ session['username'] }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>{{ session['password'] }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ session['email'] }}</td>
                <tr>
                    <td>Score:</td>
                    <td>{{ session['score'] }}</td>
                </tr
            
        </table>
</div>
{% endblock %}
