textarea {
    width: 15%;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 7px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }