{% extends 'layout.html' %}

{% block title %}Pretest{% endblock %}
 
{% block content %}

<div class="text-center">
  <h1>Pretest</h1>       
<h2>Speak this word  </h2> 
</div>

{% for data in data %}


<div class="text-center"> <h2>{{data['word']}}</h2> </div>

    <div>
        <hr>
        <button id="start-btn-{{ loop.index }}" type="button">start</button>
        <label for="output-textarea-{{ loop.index }}">output-{{ loop.index }}:</label>
        <textarea id="output-textarea-{{ loop.index }}" name="output-textarea-{{ loop.index }}" rows="4" cols="50"></textarea>
    </div>



{% endfor %}
<script src="{{ url_for('static', filename='speech2.js') }}"></script>

    
{% endblock %}

