
{% extends 'layout.html' %}

{% block title %}Pretest{% endblock %}
 
{% block content %}

<div class="text-center">
  <h1>Pretest</h1>       
<h2>Speak this word  </h2> 
</div>

{% for row in data %}


<div class="text-center" id="words-{{ loop.index }}"> {{row['word']}} </div>
<form id="answer" name="answer" action="{{ url_for('pretest') }}" method="post" >
    <div class="text-center">       
        
        <textarea  placeholder="ํYour result will be there" id="output-textarea-{{ loop.index }}" name="xxx" rows="1" cols="50"></textarea><br>
        
        <button class="btn btn-success" id="start-btn-{{ loop.index }}" type="button" name="start-btn-{{ loop.index }}">start</button><br>
    </div>
        
</form>
<script>
    attachEvents();

function attachEvents() {
    let workingEls = getWorkingEls();
    workingEls.forEach(attachEvent);
}

function getWorkingEls() {
    return [
        {
            id_start_btn: "#start-btn-{{ loop.index }}",
            id_output_txta: "#output-textarea-{{ loop.index }}",
        }
        
    ]
}

function attachEvent(element, index, array) {
    let startBtnEl = document.querySelector(element.id_start_btn);
    let outputTextAreaEl = document.querySelector(element.id_output_txta);
    // new speech recognition object
    let speechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
    let recognition = new speechRecognition();

    // captures single result each time
    recognition.continuous = false
    startBtnEl.disable = true;

    startBtnEl.onclick = function () {
        startBtnEl.disabled = true;
        outputTextAreaEl.value = "";
        recognition.start();
    };

    recognition.onend = function() {
        startBtnEl.disabled = false;
    }

    recognition.onresult = function (event) {
        let current = event.resultIndex;
        outputTextAreaEl.value = `${event.results[current][0].transcript}`;
        let prob = document.querySelector("#words-{{ loop.index }}").innerHTML;
        let resultText = document.querySelector("#output-textarea-{{ loop.index }}").value;
        outputTextAreaEl.value = resultText;
        let result1 = prob.trim();
        let result2 = resultText.trim();
        var rLower = result1.toLowerCase();
        var pLower = result2.toLowerCase();
        let score = document.querySelector("#score");
        if ( rLower === pLower){
        	       
            i += 1;
            score.value = i;
        
			}
        }
    }

</script>

{#<script src="{{ url_for('static', filename='js/speech_and_scoring.js') }}"></script>#}

{% endfor %}

<input class="btn btn-primary" type="submit" value="Submit">

<div class="text-center"><hr>
    <textarea name="score" id="score" cols="30" rows="1"></textarea>
</div>   


{% endblock %}

