{% extends "layout.html.jinja" %}
{% from "form_field.jinja" import render_field %}

{% block content %}
<br>
    <div class="position-relative">
        <div class="mask d-flex align-items-center h-100 gradient-custom-4">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card " style="border-radius: 15px;">
                  <div class="card-body p-5 border border-5 ">
                    <h2 class="text-uppercase text-center mb-5">Log in</h2>      
                    <form method="POST" novalidate autocomplete="off"> 
                      {{ form.hidden_tag() }}    
                      <div class="form-outline mb-4">
                        {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                        {{ render_field(form.username) }}
                        <br>
                        {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                        {{ render_field(form.password) }}
                      </div>
                      <div class="d-flex justify-content-center">
                        {{ form.submit(class="btn btn-success",value="Log in") }}
                      </div>      
                    </form>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}